{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Scavenge!{% endblock %}</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />

    <link rel="stylesheet" href="{% static "main.css" %}" />
  </head>
  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation" class="{% if currentPage == 'index' %}active{% endif %}">
                <a href="{% url 'index' %}">Home</a>
              </li>
            {% if user.is_authenticated %}
              <li role="presentation" class="{% if currentPage == 'profile' %}active{% endif %}">
                <a href="{% url 'profile' %}">Profile</a>
              </li>
              <li role="presentation" class="{% if currentPage == 'progress' %}active{% endif %}">
                <a href="{% url 'progress' %}">Progress</a>
              </li>
              <li role="presentation">
                <a href="{% url 'logout' %}">Logout</a>
              </li>
            {% else %}
              <li role="presentation" class="{% if currentPage == 'login' %}active{% endif %}">
                <a href="{% url 'login' %}">Login</a>
              </li>
            {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted">Swarm Scavenger Hunt 🇵🇷</h3>
      </div>

      {% block content %}{% endblock %}

      <footer class="footer">
        <p>
          Made by <a href="http://www.zacksheppard.com">Zack</a> 2015
          &bull; <a href="https://github.com/zackzachariah/scavenger">See the source code</a>
          <div class="privacyPolicy"><a href="//www.iubenda.com/privacy-policy/702763" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></div>
        </p>
      </footer>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>