{% extends "server/base.html" %}

{% block content %}
  <h3>🇵🇷 ¡Bienvenido a Puerto Rico! 🇵🇷</h3>
  <p>
    You should already have your teams and be ready to start hunting for sights
    around Old San Juan! Here's a quick recap of the rules. When you're ready to start
    hunting do the following:
    <ul>
      <li><a href="/login">Login to this site with your Foursquare account</a></li>
      <li>After logging in, <a href="/profile">set your cell phone on your profile and hit save</a></li>
      <li>
        When we arrive in Old San Juan, check in at
        <a href="https://foursquare.com/v/plaza-colon/4bc4eb636c6f9c74d2b5b3fc" target="_blank">Plaza Colon</a>
        to start the hunt!
      </li>
    </ul>
  </p>
  <br />
  <h4>The Rules</h4>
  <p>
    <strong>TLDR;</strong> it's a scavenger hunt. Your team will get clues via SMS or
    on this site. You have to check-in at the solution to get the next clue. Email your answers for bonus questions
    to <a href="mailto:companytrip@foursquare.com">companytrip@foursquare.com</a>.
    Have fun, but <strong>don't miss the bus back</strong>!
  </p>
  <p>
    This Scavenger Hunt will cover historic and modern points of interest in Old San
    Juan!
  </p>
  <p>
    Things to pack for the hunt: hat, sun block, water, comfortable walking shoes, phone/camera.
  </p>
  <p>
    Upon arrival in Old Town, we'll be at
    <a href="https://foursquare.com/v/plaza-colon/4bc4eb636c6f9c74d2b5b3fc" target="_blank">Plaza Colon</a>.
    Check into the plaza on Swarm using your personal Foursquare account --
    <strong>AFTER</strong> you have <a href="/login">logged in to this site</a> and
    <a href="/profile">updated your phone number</a>
    -- and you'll begin receiving your team's clues via SMS! Check into venues as you discover them to
    uncover your next clues. You can also see a list of all the clues you've uncovered <a href="/progress">
    on this site at any time</a> in case you don't get the text or forget what the clue was.
  </p>
  <p class="lead">
    We'll be in Old Town for 2.5 hours. Use as little or as much time to complete the hunt as your team would like,
    timing does not affect scoring. But, <strong>do not miss the 5:30pm bus or your
    team will be disqualified and you'll need to find your own transportation back to the hotel</strong>.
  </p>
  <p>
    Answers are 1 point. Bonus Answers are 2 points.
  </p>
  <p>
    Answers are submitted by someone on your team checking in to the solution.
  </p>
  <p>
    All bonus answers should be submitted via email to
    <a href="mailto:companytrip@foursquare.com">companytrip@foursquare.com</a> in picture or video form and
    captioned with your team name. If a question requests you write an answer, you can simply jot it
    down in your phone "notes" and send a screen shot. Paper/pens will not be necessary.
  </p>
  <p>
    Only answers submitted before 5:30pm will count.
  </p>
  <p>
    <strong>Scavenger Hunt Timeline, Monday afternoon:</strong>
    <ul>
      <li>2:00pm - Assemble in Intercontinental Lobby</li>
      <li>2:30pm - Buses depart for Old San Juan</li>
      <li>3:00pm - Arrival at <a href="https://foursquare.com/v/plaza-colon/4bc4eb636c6f9c74d2b5b3fc" target="_blank">Plaza Colon</a> (at O’Donnell &amp; Calle Streets) in Old San Juan</li>
      <li>3:00-5:00pm – SCAVENGER HUNT!</li>
      <li>5:00pm – Meet back at <a href="https://foursquare.com/v/plaza-colon/4bc4eb636c6f9c74d2b5b3fc" target="_blank">Plaza Colon</a></li>
      <li>5:30pm – Buses depart for the Intercontinental. <strong>DO NOT MISS THE BUS!</strong></li>
    </ul>
  </p>
  <p><strong>
    The winning team will receive a Puerto Rico Gift Bag! Good luck!
  </strong></p>
{% endblock %}