{% extends "server/base.html" %}

{% block title %}Your Progress{% endblock %}

{% block content %}
  <div class="profileForm">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="form-group">
        <h4>Your Progress</h4>
        <label for="yourTeam">Team Name</label>
        <p id="yourTeam">{{ player.team.name }}</p>
        <label for="yourProgress">Completed Clues</label>
        <p id="yourProgress">{{ player.team.completedClueCount }} out of {{ player.team.totalClueCount }}</p>
        <label for="allClues">All Your Clues</label>
        {% for clue in clues %}
          <div class="clue">
            <label for="clueHint">Clue</label>
            <p id="clueHint">{{ clue.hint }}</p>
            <label for="clueBonus">Bonus points</label>
            <p id="clueBonus">{{ clue.bonus }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
